::ng-deep.p-button {
  background: #009330;
}

::ng-deep.p-button:not(:disabled):hover {
  background: #145217;
  color: #ffffff;
  border-color: #449e48;
}

h2 {
  margin: 0;
}
.sub-title {
  font-family: "Open Sans Hebrew";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
  color: #151D18;
}
.calculator {
  background-color: #ecf7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 10rem 3rem;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tags {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  &__tag {
    background-color: #009ff9;
    color: white;
    font-family: "Open Sans Hebrew";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    border-radius: 4px;
    text-align: center;
    text-align: center;
    padding: 0.2rem 2rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}