<section class="footer">
  <div class="footer__col">
    <div class="footer__col-logo">
      <img src="assets/images/logo_mi_banco.svg" height="60" alt="" />
      <p>© 2024 MibancoLab - Todos los derechos reservados</p>
    </div>
  </div>
  <div class="footer__col">
    <li class="list__title">Nuevos Lanzamientos</li>
    <li class="list"><a>Recomendados Mibanco</a></li>
    <li class="list"><a>Préstamo Mi Efectivo Semilla</a></li>
    <li class="list"><a>Juntas</a></li>
    <li class="list"><a>Academia del Progreso</a></li>
  </div>
  <div class="footer__col">
    <li class="list__title">Productos Mibanco</li>
    <li class="list"><a (click)="goTo('calculadora')" >Calcula Tipo de Cambio</a></li>
    <li class="list"><a>Solicita tu préstamo</a></li>
    <li class="list"><a (click)="goTo('remesa')">Remesas</a></li>
  </div>
  <div class="footer__col">
    <li class="list__title">Acerca de MibancoLab</li>
    <li class="list"><a>¿Tienes dudas?</a></li>
    <li class="list"><a>Contáctanos</a></li>
    <li class="list"><a>Términos y Condiciones</a></li>
    <li class="list"><a>Política de Cookies</a></li>
  </div>
  <div cclass="footer__col">
    <div class="list__book">
      <img src="assets/icons/ico_book.svg" alt="Libro de reclamaciones" />
      <p class="list__book-text">
        Libro de reclamaciones
      </p>
    </div>
  </div>
</section>
