::ng-deep.p-button {
    background: #009330;
    border-radius: 24px;
    font-family: 'Open Sans Hebrew';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    margin: 2rem 0;
}

::ng-deep.p-button:not(:disabled):hover {
    background: #145217;
    color: #ffffff;
    border-color: #449e48;
}

::ng-deep.fluid {
    button {
        width: 100%;
    }
}