<section class="benefits">
    <h2 class="benefits__title title">Beneficios del préstamo Mi Efectivo Semilla</h2>
    <div class="items">
        <div class="items__col">
            <img src="assets/icons/ico_tickets.svg" alt="">
            <div class="items__col-box">
                <h3>Solicita hasta S/ 2,000</h3>
                <p>Con la flexibilidad de pagar en un plazo de hasta 12 meses.</p>
            </div>
        </div>
        <div class="items__col">
            <img src="assets/icons/ico_cellphone.svg" alt="">
            <div class="items__col-box">
                <h3>Obténlo 100% online</h3>
                <p>Desde donde estés en minutos y te evaluaremos de forma digital.</p>
            </div>
        </div>
    </div>
</section>
